body{
    background-color: bisque;
    display: block;
    text-align: center;
}
.brasil{
    text-align: center;
    position: relative;
}
video{
    display: flex;
    width: 500px;
    margin: auto;
    justify-content: center;
}
img{
    display: flex;
    margin: auto;
}